.allheading{font-family: 'Ubuntu', sans-serif;}

.nav-link,.navbar-brand{font-family:'Ubuntu', sans-serif;}
#loading{
	position:fixed;
	width:100%;
	height:100vh;
	background:#f8f8f8 url(../images/adeptgif.gif) no-repeat center;
	z-index:99999;
}

.bgimg{
	background-image:url(../images/finalbg.png);
	
	background-size:100% 100%;
	width:100%;
	height:auto;
	min-height:100vh;
}
.mono {position:relative;}
.header-section{
	width:100%;
	height:auto;
	color:#fff;
	padding:20px;
	
	position:relative;
}
.header-section h1{
	font-family: 'Ubuntu', sans-serif;
	font-size:3.5rem;
color:#ffffff;
}
.header-section p{
	font-family: 'Hind Guntur', sans-serif;
	font-size:1.3rem;
color:#f7ff0f;
}
.header-section a{background-color:#f7ff0f;color:#2d2d2d;font-family: 'Hind Guntur', sans-serif;border-radius:20px;padding:5px 20px 1px 20px;}
/*-------------------about us--------------------*/
.aboutus{margin-top:15px;width:100%;height:auto;padding:30px;
background-image:url(../images/aboutfinalbg.png);
background-size:100% 100%;}

.aboutus i{border:2px solid #e5e5e5;
		padding:5px 8px 5px 8px;
		background-color:#2e2e2e;
		margin-bottom:15px;
		border-radius:10px;
		color:#e5e5e5;
		}
	.aboutus i:hover{
	transition:all 0.3s;}
.about p{font-family: 'Hind Guntur', sans-serif;font-size:24px;padding-top:60px;}
.about{color:black;padding:30px;background-image:url(../images/aboutfinalsmall.png);
	background-repeat:no-repeat; background-size:35% 21%;}
.about h2{color:#2b2b2b;font-family: 'Ubuntu', sans-serif;}
.about a{font-family: 'Hind Guntur', sans-serif;color:#f7ff0f;border:1px solid #fff119;border-radius:20px;background-color:#2e2e2e;padding:5px 20px 1px 20px;}
/*-------------------services--------------------*/
.services{
	height:auto;
	width:100%;
	padding:60px 0px 50px;
	
	
}
.services h1{ color:#2b2b2b;padding:20px;}
.services h5{font-family: 'Nanum Gothic', sans-serif;}
.services img{
	height:100%;
width:100%;
padding-bottom:25px;
padding-top:25px;
}
.card{height:360px;box-shadow: 2px 2px 15px  #a9a9a9;}
.card h2{padding:20px;}
.flip-box1 {
  background-color: transparent;
  width: 350px;
  height: 360px;
 
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/*------------------------------------------------------------------------------------------*/
/*-------------------courses new--------------------*/
.newcourse{width:100%;height:auto;min-height:100vh;padding:30px;
background-image:url(../images/coursesbg.png);
background-attachment:;background-size:100% 100%;color:white;background-color:;}

.content{padding:30px;}

.newcourse h1{color:#f7ff0f;padding:10px;padding-top:30px;}

.newcourse img{padding:30px;}

/******************************WHY CHOOSE US  starts**************************/
.whychooseus{
	width:100%;
	height:auto;
	padding-top:100px;
	padding-bottom:100px;
	background-color:;
}

.whychooseus h1{
	color:black;

	padding:30px;
	}
.whychooseus h6{
	color:#2e2e2e;

	font-size:15px;
	}

.steps p{
	
	font-weight:bold;
color:black;
padding:30px 0 0 0;}
/******************************steps  ends**************************/

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 90%;
  right:2%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
	
	border-radius:50%;
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
  background: #4FCE5D;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: grey;
}




/*-------------------registration--------------------*/

.register{width:100%;height:auto;padding-top:150px;padding-bottom:150px;min-height:80vh;background-color:#e5e5e5;}
.rcontent {background-image:url(../images/joinusbg.png);
	background-size:100% 100%;padding:30px;}
.register p{padding:20px;font-family: 'Ubuntu', sans-serif;}
.register a{margin-left:20px;font-family: 'Hind Guntur', sans-serif;border-radius:20px;padding:5px 20px 1px 20px;}

/******************************steps  starts**************************/
.header-stepsdiv{
	width:100%;
	height:auto;
	min-height:80vh;
}

.header-stepsdiv h1{
	color:#fff119;

	padding:30px;
	}
.header-stepsdiv h6{
	color:#fff;
font-family: 'Hind Guntur', sans-serif;
	
	}
.steps-div img{
	
	
}
.steps-div p{
	font-family: 'Ubuntu', sans-serif;
	
color:#fff119;
padding:30px 0 0 0;}
/******************************steps  ends**************************/

/******************************Contactus  starts**************************/
.contact-section{
	width:100%;
	height:auto;
	position:relative;
	background-image:url(../images/getintouchbg.jpg);
	background-size:100% 100%;
	padding:50px 20px;	}
	
	.lastpage{padding-top:20px;background-color:#e5e5e5;border-radius:20px;height:auto;padding-bottom:10px;min-height:70px;}
	.lastpage h2{color:;font-family: 'Satisfy', cursive;padding-top:20px;}
.lastpage a{
	
	
	border:1px solid #fff119;
	color:#fff119;
	font-weight:bold;
	text-align:center;
	background-color:#2e2e2e;
	padding:10px 10px 10px 10px;
	border-radius:20px;
 }
 .lastpage a:hover{text-decoration:none;color:white;background-color:black;}
 
 
 
/******************************Contactus  ends**************************/

/* footer starts*/
	.footersection{
		width:100%;
		height:auto;
		padding:70px 0 20px 0;
		background-image:url(../images/footerbg.png);
	background-size:100% 100%;
		z-index:-1;
		color:white;
		background-color:#e5e5e5;
		
	}
	
		
	.foot-div i{border:1px solid white;
		padding:5px 8px 5px 8px;
		margin-bottom:15px;
		margin-top:15px;
		border-radius:10px;
		color:#202020;
		background-color:#e5e5e5;
		}
	.foot-div i:hover{
	transition:all 0.3s;}
	
	.foot-div a{color:white;font-family: 'Hind Guntur', sans-serif;}
	.foot-div a:hover{color:grey;text-decoration:none;}
	.foot-div li{list-style:none;}
/* footer ends*/